@font-face {
    font-family: myFirstFont;
    src: url(../Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: bold;
    src: url(../Poppins/Poppins-Bold.ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: myFirstFont;
    box-sizing: border-box; /* Add this to ensure padding and border are included in element's total width and height */
}
body {
    /* Website Scrollerbar */
}
body::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}
body::-webkit-scrollbar-track {
    background: #3838387c !important;
}
body::-webkit-scrollbar-thumb {
    background-color: white !important;
    border: 1px solid #ff020279 !important;
    border-radius: 1px !important;
}

.cvSection {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-top: 1px solid black;
    padding-top: 50px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
.cvSection article {
    /* Article styles */
}
.cards {
    display: flex;
    justify-content: space-around;
    width: 70%;
    flex-wrap: wrap;
}
.cards div {
    /* Card styles */
}
.filterButton {
    width: 20%;
}
.filter button {
    padding: 5px;
    border-radius: 50px;
    border: none;
    width: 100px;
    margin-bottom: 5px;
}
.studentCard {
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 40%;
    box-shadow: 10px 5px 5px black;
    border: 3px solid black;
    margin-bottom: 20px;
}
.studentInfo {
    display: flex;
    justify-content: space-between;
}
.profilDetails button {
    padding: 5px;
    border-radius: 50px;
    border: 3px solid black;
    background-color: white;
    width: 90px;
    margin-top: 5px;
}
.profilDetails img {
    padding-right: 10px;
}
a {
    text-decoration: underline;
    color: blue;
}
.profilDetails p:hover {
    color: grey;
}
.studentName {
    /* Student name styles */
}
.studentName span {
    text-transform: uppercase;
    font-weight: bold;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .cards {
        width: 100%;
    }
    .studentCard {
        width: 45%;
    }
    .filterButton {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .cvSection {
        flex-direction: column;
        
    }
    .filterButton {
        width: 80%;
        margin-bottom: 20px;
        text-align: center;
    }
    .cards {
        width: 100%;
        flex-direction: column;
       
    }
    .studentCard {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .filterButton {
        width: 100%;
    }
    .studentCard {
        width: 100%;
        margin-left: auto; /* Center align */
        margin-right: auto; /* Center align */
    }
    .profilDetails button {
        width: 30%;
    }
}
